<h1><%= project.name %></h1>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Suite</th>
      <th>Latest runs</th>
    </tr>
  </thead>
  <tbody>
      <% project.suites.each_with_index do |suite, i| %>
          <tr id="project_<%= project.id %>" class="project">
            <td><%= link_to suite.name, project_suite_path(suite.project, suite) %></td>
            <td>
              <% suite.latest_runs(2).each do |run| %>
                <div>
                  <%= link_to "##{run.sequential_id}", project_suite_run_path(suite.project, suite, suite.latest_run) %> <span class="text-muted"><%= format_date(run.created_at) %></span>
                  <span class="text-muted">(<%= run.browsers.join(',') %>)</span>
                  <% if run.tests.count == 0 %>
                    <span class="label label-info">No tests</span>
                  <% end %>
                  <% if run.passing_tests > 0 %>
                    <a class="label label--pass" href="<%= project_suite_run_path(suite.project, suite, suite.latest_run, params: { status: 'pass' }) %>"><%= run.passing_tests %> passed</a>
                  <% end %>
                  <% if run.failing_tests > 0 %>
                    <a class="label label--fail" href="<%= project_suite_run_path(suite.project, suite, suite.latest_run, params: { status: 'fail' }) %>"><%= run.failing_tests %> failed</a>
                  <% end %>
                </div>
              <% end %>
            </td>
          </tr>
      <% end %>
  </tbody>
</table>
